@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #171717;
    color: #ffffff;
}


@font-face {
    font-family: 'poppins';
    src: url('../public/fonts/poppins/regular-poppins.ttf');
}

@font-face {
    font-family: 'm_poppins';
    src: url('../public/fonts/poppins/medium-poppins.ttf');
}